/* below is custom css for LNQ squeeze page, not from the bootstrap template */

$blue: #5CA3D1;

#agile-sign-up-form {
	margin: 0 auto;
	text-align: center;
}

#agile-sign-up-form .form-control {

}

.blue {
	color: #5CA3D1 !important;
}

.blue-lighter {
	color: #ACD0E7 !important;
}

.centered {
	margin: 0 auto;
}

#coming-soon {
	position: relative;
	top: 15px;
}

.footer-logo {
	width: 100px;
}

form {
	text-align: center;
	margin: 0 auto;
}

form input {
	text-align: center;
}

.logo {
   max-width: 200px;
   margin: 0 auto;
   position: relative;
   bottom: -22px;
}
#team h2 {
	color: #5CA3D1;
}

.team-leader-box {

}

.team-leader-box p {
	padding: 15px;
}

.team-leader-box span {
	color: #5CA3D1;
}

/* begin media query specific styling below */

@media only screen and (max-width: 767px) {
	.team-leader-box {
		width: 100hw;
	}


	.team-leader-box p {
		font-size: 15px;
	}

}/* for xs devices */

@media only screen and (min-width: 768px) {
	/*below begins temporary styling, while we don't have headshots. TODO */
	.team-leader-box p {
		font-size: 16px;
	}
	.leader-1 {
		margin-top: 140px;
	}
	.leader-2 {
		margin-top: 100px;
	}
	.leader-3 {
		margin-top: 180px;
	}
	.leader-4 {
		margin-top: 40px;
	}
	.leader-5 {
		margin-top: 120px;
	}
} /* for tablet and all larger */

@media only screen and (min-width: 768px) and (max-width: 991px) {

}/* for sm devices only */

@media only screen and (min-width: 992px) {

}/* for md and lg devices only */




