/* below is custom css for LNQ squeeze page, not from the bootstrap template */

#agile-sign-up-form {
	margin: 0 auto;
	text-align: center;
}

#agile-sign-up-form .form-control {

}

.blue {
	color: #5CA3D1 !important;
}

.blue-lighter {
	color: #ACD0E7 !important;
}

.centered {
	margin: 0 auto;
}

#coming-soon {
	position: relative;
	top: 15px;
}

.footer-logo {
	width: 100px;
}

form {
	text-align: center;
	margin: 0 auto;
}

form input {
	text-align: center;
}

.logo {
   max-width: 200px;
   margin: 0 auto;
   position: relative;
   bottom: -22px;
}

